<div class="card card-gradient p-3">
  <div class="card-body">
    <div class="m-sm-3">
      <form [formGroup]="sellerForm" (ngSubmit)="saveSeller()">

        <!-- Seller Name -->
        <div class="mb-3">
          <label class="form-label">Seller Name</label>
          <input
            class="form-control form-control-lg"
            type="text"
            formControlName="name"
            placeholder="Enter seller name"
            [class.is-invalid]="sellerForm.controls['name'].invalid && sellerForm.controls['name'].touched"
            />
            @if (sellerForm.controls['name'].errors?.['required']) {
              <div class="invalid-feedback">
                Seller name is required.
              </div>
            }
            @if (sellerForm.controls['name'].errors?.['minlength']) {
              <div class="invalid-feedback">
                Name must be at least 2 characters.
              </div>
            }
          </div>

          <!-- Employee Code -->
          <div class="mb-3">
            <label class="form-label">Employee Code</label>
            <input
              class="form-control form-control-lg"
              type="text"
              formControlName="employeeCode"
              placeholder="Enter employee code"
              />
            </div>

            <!-- Phone -->
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input
                class="form-control form-control-lg"
                type="text"
                formControlName="phone"
                placeholder="Enter phone number"
                [class.is-invalid]="sellerForm.controls['phone'].invalid && sellerForm.controls['phone'].touched"
                />
                @if (sellerForm.controls['phone'].errors?.['pattern']) {
                  <div class="invalid-feedback">
                    Phone number must be 9–15 digits.
                  </div>
                }
              </div>

              <!-- Buttons -->
              <div class="d-flex justify-content-end gap-2 mt-3">
                <button type="submit" class="jelly-btn-sky" [disabled]="isSubmitted || sellerForm.invalid">
                  {{ sellerId ? 'Update Seller' : 'Create Seller' }}
                </button>
                <button type="button" class="jelly-btn-sky" (click)="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
